{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div id="clientDevis">
        hhhh
    </div>
    <button class="btn btn-primary offset-11" id="nextDevis">{{ button_label|default('Suivant') }}</button>
{{ form_end(form) }}


