{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
<div class="jumbtron">
    <h1 class="display-4">Administration de site </h1>
    <p class="lead">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, praesentium voluptate exercitationem deleniti hic molestias? Ab quos quas tempore suscipit molestiae impedit dicta optio amet? Officia nemo eius fugit ipsum.
        Omnis alias tempora numquam debitis. Nulla natus, at numquam quam repellat in error, non nihil recusandae ullam, quo laudantium consequatur. Eligendi reprehenderit impedit natus dignissimos dolor in! Non, quos ullam.
         cupiditate deleniti libero molestias recusandae aliquam consectetur iure odio, error minus voluptatum? Facere ipsum nesciunt dolorem culpa voluptate?
    </p>
</div>

{% endblock%}