{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    {#<div class="container bg-white">#}
        <div class="row">
            <div class="col-6 offset-3 bg-white">
                <h1>Création un nouveau client</h1>

                {{ include('client/_form.html.twig') }}

                {#<a href="{{ path('client_index') }}">back to list</a>#}
            </div>
        </div>
    {#</div>#}
{% endblock %}
