{% extends 'base.html.twig' %}

{% block title %}Hello AgentCommercialController!{% endblock %}



{% block body %}
<div class="container bg-white mt-5">
    <div class="row mt-5">
        <div class="col-12">
            <img src="https://via.placeholder.com/1100x60" alt="">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-3 offset-5 mt-4">
            <span>OFFRE DE PRIX N° </span>
        </div>
        <div class="col-2 offset-2 ">
            <span>Date:  </span>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <p>A l'attention:</p>
            <p>Société: </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <p>
                Madame(sexe),<br>
                Faisant Suite Lorem ipsum, dolor sit amet consectetur 
                adipisicing elit. Unde, sit debitis quibusdam tempore amet
                 accusantium aspernatur eveniet reiciendis iure facere. Ut,
                  minus ex ad omnis officiis autem alias atque nostrum?
            </p>
        </div>
    </div>


    <h1> I-Borderaux des prix</h1>
    <div class="row">
        <div class="col-12 mb-0">
            <table class="table text-center border mb-0">
                <thead class="">
                    <tr>
                        <th class="col-6 border text-center">Designation</th>
                        <th class=" border text-center">Qté</th>
                        <th class=" border text-center">Prix Unit HT</th>
                        <th class=" border text-center">Prix Total HT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-6 text-left border">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, explicabo voluptas reprehenderit iste dolore tenetur quae voluptatem error ad ullam ut facere cum reiciendis corporis labore nisi, eligendi sint voluptates.</td>
                        <td class="col-2 border">kdkdkd </td>
                        <td class="col-2 border">djjdjd</td>
                        <td class="col-2 border">ddkd</td>
                    </tr>
                   
                    <tr>
                        <td class="col-6 border">hh</td>
                        <td class="col-2 border">jj</td>
                        <td class="col-2 border">jj</td>
                        <td class="col-2 border">yyu</td>
                    </tr>
                   
                   


                    
                </tbody>
            </table>
        </div>
        <div class="col-6 offset-6  mt-0 pl-0">
            <table class="table text-center border mt-0">
                <tbody>
                    <tr class="border">
                        
                        <td class="col-4   border">Montant total H.T</td>
                        <td class="col-2  border">6000</td>
                        
                    </tr>
                    <tr class="border">
                        
                        <td class="col-4   border">Montant TVA (20%)</td>
                        <td class="col-2  border">1200</td>
                        
                    </tr>
                    <tr class="border">
                        
                        <td class="col-4   border">Montant total TTC</td>
                        <td class="col-2  border">7200</td>
                        
                    </tr>
                    
                   
                   


                    
                </tbody>
            </table>
        </div>
    </div> 
    <div class="row">
        <div class="col">
            <p> Arrêté la présente estimation de l'offre à la somme de
                Arrêté la présente estimation de l'offre à la somme de
            </p>
        </div>
    </div>
    <span class="font-weight-bold"> II-Modalités de Paiements:</span>
    <div class="row">
        <div class="col ml-5">
            <span>- 60 jours à la réception de la facture.</span>

        </div>
    </div>
    <div class="row">
        <div class="col"><span class="font-weight-bold"> III- Délai:</span> <span>3 jours;</span>  </div>
       
    </div>



</div>




{% endblock%}